// * Imports
@import url("https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:ital,wght@0,300;0,600;0,700;1,300;1,400;1,500&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

// ! Global Variables

// ? Fonts
$monts: "Montserrat", sans-serif;
$main: 'Poiret One', cursive;
$mine: mine;
$pops: 'Poppins', sans-serif;

// ? Colours 
$green : #6C7441;
$salmon : #E79C74;
$background:#FDF7EC;
$mustard: #F0B342;
$space:#476B75;
$blue: #90A6D8;

h1 {
  font-family: $pops;
  font-weight: 100;
  font-size: 100px;
  margin: 0px;
}

h2 {
  font-family: $pops;
  font-weight: 100;
  font-size: 80px;
  margin: 0px;
}


h3 {
  font-family: $monts;
  color: black;
  font-weight: 100;
  font-size: 25px;
  margin: 0px;
}

h4 {
  font-family: $monts;
}

p {
  font-family: $monts;
  font-size: 1rem;
}

body, html {
  background-color: $background;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0;
  padding: 0;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

a {
  text-decoration: none;
}

#root {
  width: 100vw;
  height: auto;
}

// * NavBar
.navbar {
  position: fixed;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  list-style: none;
  height: 50px;
  width: 100%;
  backdrop-filter: blur(2px);

  a {
    padding: 10px;
    font-size: 20px;
    font-family: $monts;
    font-weight: 100;
    font-size: 25px;
    margin: 0px;
  }

  a:hover {
    border-top: 4px solid $blue;
  }
  a:active {
    border-top: 4px solid $mustard;
  }

  a:visited {
    color: black;
  }
}

// * Hero 
#hero {
background-image: url('../images/hero.png');
background-size:cover;
height: 100vh;
  .blurContainer {
    width: 100%;
    backdrop-filter: blur(5px);
  }
}

// * About 
#about {
  padding-top: 50px;
  .aboutText {
    width: 70%;
    height: 100px;
    padding: 10px;
  }

  .aboutMain {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; 
    width: 100%;
    margin-left: 30px;
    margin-right: 30px;
  }
  .aboutWord {
    padding: 30px;
  }
  img {
    max-width: 300px;
    border-radius: 50%;
  }
}

// * Experience 
.experienceContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
 .h3{
    padding-bottom: 15px;
    text-decoration: underline;
  }

  .experience {
    display: flex;
    flex-direction: column;
  }
  .experienceLogos {
    display: flex;
    flex-direction: row;
    .testing {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    img {
      height: 50px;
      width: 50px;
      padding: 5px;
    }
  }
  .experienceClicked {
    border-bottom: 3px solid $mustard;
  }
  .clickedArrow {
    background-image: url('../images/arrow.png');
    height: 10px;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .infoDetails {
      text-align: left;

    }
    .download {
      color: black;
    }
    .download:hover {
      color: $mustard;
    }
    .underline {
      text-decoration: underline;
    }
    .underline:hover {
      color: $blue;
    }
  }
  p, h3, h4 { 
    margin: 5px;
  }
}

// * Skills
#skills {
  justify-content: flex-start;
  padding-top: 100px;
  height: auto;
}

#skills, #contact  {
  .devicon {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width:50%;

    i, .other {
      color: $space;
      font-size: 75px;
    }

    .singleIcon {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 10px;
    }

    .label {
      position: absolute;
      opacity: 0;
      font-family: $monts;
      font-weight: 100;  
    } 

    .singleIcon:hover {
      i, .other {
        color: $blue;
      }
      .label {
        opacity: 1;
      }
    }
    .singleIcon:visited {
      .label {
        color: black;
      }
    }
  }
}

// * Projects
// ? pag. 
#projects {
  padding-top: 60px;
  .numbers {
  display: flex;
  flex-direction: row;
  justify-content: center;
  }
  .pages {
    padding: 0px 20px 0px 20px;
    font-weight: 20px;
    cursor: pointer;
  }
  .pages:hover {
    border-bottom: 3px solid $blue;
  }

  // ? Projects layout
  #projectMain {
    justify-content: flex-start;
    margin: 30px;

    .row {
      display: flex;
    flex-direction: row;
    width: 100%;
    border-radius: 5%;
    background-color: white;
    padding-top: 30px;
    padding-bottom: 30px;
    align-items: center;
  }

  .left, .middle, .right {
    height: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .left {
    margin-left: 50px; 
  }
  .middle {
    margin: 0px 20px 0px 20px;
  }

  .right {
    margin-right: 50px; 
  }

  .leftTop {
    flex-grow: 1;
    margin-bottom: 10px;
  } 

  .leftBottom  {
    flex-grow: 3;
  }
  
  .middleBottom {
    margin-top: 30px;
  }

  .middleTop {
    margin-bottom: 30px;

  }
  img {
    border-radius: 5%;
    width: 100%;
    height: 100%;
  }
}
}

// * Contact
#contact { 
  height: 60vh;
  justify-content: flex-start;
  padding-top: 100px;
  padding-bottom: 30px;
  height: 100%;
}

.contact-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 1px solid $space;
  padding: 20px;
  width: 400px;

  label {
    font-family: $monts;
    font-size: 20px;
  }

  .input {
    background-color: $background;
    color: black;
    border: none;
    height: 45px;
    width: 100%;
    margin: 10px 0px 10px 0px;
    border-bottom: 1px solid black;
    padding-top: 12px;
  }

  .input::placeholder, .button {
    font-family: $monts;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    opacity: 0.5;
    color: black;
  }

  .button {
    height: 54px;
    width: 100px;
    margin: 12px;
    border-radius: 5%;
    border: 1px solid black;
  }
  .button:hover {
    background-color: $green;
  }
}

.closed {
  display: none;
}

small {
  font-family: $monts;
  padding-bottom: 10px;
}

// ? MEDIA QUERIES
@media screen and (max-width : 1050px) {
  #about {
    height: auto;
    justify-content: flex-start;
    .aboutMain {
      flex-direction: column;
      justify-content: flex-start;
    }
    .experienceContainer {
      align-items: center;
      }
    .info {
      align-items: center;
      width: 80%;
      .infoDetails {
        width: 80%;
        text-align: center;
      }
    }
  }
  #contact {
    padding-top: 0px;
  }
}

@media screen and (max-width : 800px) {
  #projects {
    #projectMain {
          .right {
      display: none;
    }
    }
  }
}

@media screen and (max-width : 650px) {
  h1 {
    font-size: 80px;
  }
}

@media screen and (max-width : 700px) {
  #projects {
    #projectMain {
      width: 80%;
        .row {
          flex-direction: column;
          width: 80vw;
          .left {
            margin: 0px;
                      .leftTop {
            width: 60%;
          }
          }
          .leftBottom {
            display: none;
          }
    }
    }
  }
  #contact {
    padding-top: 50px;
  }
}

@media screen and (max-width : 500px) {
  #about {
    height: 200vh;
    padding-top: 0px;
    .aboutMain {
      .aboutWord {
        width: 80%;
      }
    }
    .info {
      .infoDetails {
        width: 60%;
      }
    }
  }
  
}

@media screen and (max-width : 450px) {
  h2 {
    font-size: 60px;
  }
  #about {
    .experienceContainer {
      .info {
        width: 100% !important;
      }
    }
  }
  #skills {
    .devicon {
      width: 100%;
    }
  }
  #projects, #contact {
    padding-top: 150px !important;
    .contact-form {
      width: 60vw;
    }
  }
}
// TABLET 
@media screen and (max-height : 1000px) {
  #about {
    height: auto;
    .aboutMain {
      justify-content: end;
    }
  }
  #contact {
    padding-top: 0px;
  }
}

